@media (max-width: 767px) {
    .center {
        padding-inline: max(50% - 171px, 16px);
        animation: none;
    }

    .header {
        height: 735px;
        text-align: center;
        background-position: 31%;
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 14px;
        line-height: 157%;
    }

    .product {
        border-radius: 16px;
    }

    .section{
        height: 653px;
        text-align: center;
    }
    .section__product {
        height: 1221px;
        padding-bottom: 127px
    }
    .section__game2 {
        padding-top: 51px;
        &_box {
            align-items: center;
        }
        &_title {
            font-size: 32px;
        }
        &_text {
            font-size: 14px;
            text-align: center;
        }
        &__img_size {
            max-width: 344px;
            max-height: 231px;
        }
    }
    .section__game3 {
       
        &_title {
            font-size: 32px;
            padding-top: 51px;
 
        }
    
        &_text {
            font-size: 14px;
            font-weight: 300;
        }
    }

    .section__title {
        padding-top: 51px;
        font-size: 32px;
    }

    .section__text {
        font-size: 15px;
        line-height: 157%;
    }

    .section__img {
        padding-left: 16px;
        margin-top: 64px;
        margin-bottom: 85px
    }

    .section__img_size {
        max-width: 344px;
        height: 236px;
        width: 100%;
    }

    .section__game2 {
        height: 653px;
        flex-wrap: wrap;
    }
}