@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes myAnim {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000915;
}

.center {
    padding-inline: max(50% - 599px, 16px);
}

a {
    text-decoration: none;
}

input,
button,
select {
    font-family: inherit;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
        transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        background-color: #ff0000;
        transition: background-color 1s ease 0s;
    }

}


.header {
    height: 1024px;
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    :hover {
        text-decoration: underline;
    }

}

.title {
    font-size: 64px;
    margin-bottom: 16px;
    color: #FFFFFF;
    max-width: 750px;
    padding-top: 217px;
    font-weight: 700;
}

.text {
    font-size: 18px;
    font-style: normal;
    line-height: 178%;
    color: #FFFFFF;
    margin-top: 32px;
    max-width: 481px;
    font-weight: 300;
    font-weight: lighter;
}

.text-bolt {
    font-weight: bold;
}

.header__button {
    margin-top: 44px;
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background-color: #9C0332;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400px;
    display: inline-block;
    cursor: pointer;
}


.section {
    background-color: #000915;
    display: flex;
    flex-wrap: wrap;

    :hover {
        text-decoration: underline;
    }
}

.section__game2 {
    height: 800px;
    display: flex;
    align-items: center;
    gap: 64px 135px;
    flex-direction: row-reverse;

    &_box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
    }

    &_title {
        font-size: 48px;
        color: #FFFFFF;
        font-weight: 700;
    }

    &_text {
        font-size: 18px;
        font-style: normal;
        line-height: 178%;
        color: #FFFFFF;
        font-weight: 300;
        font-weight: lighter;
    }

    &__img_size {
        max-width: 481px;
        max-height: 322px;
    }
}

.section__game3 {
    height: 800px;
    background-image: url(img/unsplash_iO0I6-mhDEY.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    &_title {
        font-size: 48px;
        margin-bottom: 16px;
        color: #FFFFFF;
        padding-top: 282px;
        font-weight: 700;
    }

    &_text {
        font-size: 18px;
        font-style: normal;
        line-height: 178%;
        color: #FFFFFF;
        margin-top: 32px;
        font-weight: 300;
        font-weight: lighter;
    }
}

.section__title {
    font-size: 48px;
    margin-bottom: 16px;
    color: #FFFFFF;
    max-width: 750px;
    padding-top: 282px;
    font-weight: 700;
}

.section__text {
    font-size: 18px;
    font-style: normal;
    line-height: 178%;
    color: #FFFFFF;
    margin-top: 32px;
    max-width: 584px;
    font-weight: 300;
    font-weight: lighter;
}

.section__button {
    margin-top: 44px;
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background-color: #9C0332;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400px;
    display: inline-block;
    cursor: pointer;
}

.section__img {
    width: 485px;
    height: 333px;
    margin-top: 233px;
    padding-left: 135px;
    margin-bottom: 233px;
}

.product-content {
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
}

.product {
    color: #FFF;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    max-width: 378px;
    height: 300px;
    padding-left: 32px;
    padding-top: 237px;
    border-radius: 16px;
    width: 100%;

    &:hover {
        transform: scale(1.05);
    }
}

.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        vertical-align: middle;
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        padding: 3px 5px;
    }
}

.product__img-1 {
    background-image: url(img/1.svg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.product__img-2 {
    background-image: url(img/2.svg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.product__img-3 {
    background-image: url(img/3.svg);
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

@import 'mobile';