* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }
  
  a {
    text-decoration: none;
  }
  
  input,
  button,
  select {
    font-family: inherit;
  }

.header{
  height: 1024px;
  background-image: url(img/main.jpg);
  background-repeat: no-repeat;

  background-size: 100%;
}
.title{
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 16px;
  color: #FFFFFF;
  width: 788px;
  padding-left: 120px;
  padding-top: 217px;
  font-weight: 700;
}
.text{
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
  max-width: 481px;
  margin-left: 120px;
  font-weight: 300;
  font-weight: lighter;
}
.text-bolt{
  font-weight: bold;
}
.header__button{
  margin-top: 44px;
  margin-left: 120px;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background-color: #9C0332;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400px;
}
.footer {
  height: 556px;
  background-color: #000915;

}
.product-content{
  margin-left: 120px;
  padding-top: 128px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.product {
  color: #FFF;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  width: 379px;
  height: 300px;
  padding-left: 32px;
  padding-top: 237px
}
.product__img-1{
  background-image: url(img/1.svg);
  background-repeat: no-repeat;
}
.product__img-2{
  background-image: url(img/2.svg);
  background-repeat: no-repeat;
}
.product__img-3{
  background-image: url(img/3.svg);
  background-repeat: no-repeat;
}